body {
    background-color: #1d1b24;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
nav {
    margin-top: 20px;
}
#searchBar {
    width: 100%;
    margin-bottom: 15px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#submitButton {
    width: 100%;
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border: 1px solid #007bff;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#submitButton:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    text-decoration: none;
}
.navbar-brand {
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    margin-right: 6px;
}
.logo {
    max-width: 35px;
    margin-left: 20px;
    margin-top: 0;
    padding-bottom: 6px;

}

.movieRow {
    position: relative;
    margin: 15px auto;
    width: 190px;
    border: none;
}

.movie-image {
    position: relative;
    border-radius: 6px;
}

.movie-content {
    position: absolute;
    height: 100%;
    color: #EEE;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .2s;
}

.movie-content:hover {
    background: rgba(0,0,0, .65);
    color: #EEE;
    opacity: 1;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    transform: scale(1.1);
}

.behind {
    pointer-events:none;
}

#imdbBtn {
  border: none;
}

.movie-info-container {
  position: absolute;
  bottom: 20px;
}

.movie-info-container .btn {
  border: none;
}


.poster {
    margin: 35px 10px 5px 10px;

}
.darkPoster{
    background-color:#000;
    opacity:0.2;
    transform: scale(1.1);
    cursor: pointer;
       
}

 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 60%;
        width: 100%;
        display: none;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

.movie-map{
    padding-left: 0;
    
}
.map-section img{
    width: 100%;
    padding: 10px;
}

.movieTitle {
    font-size: 1.5em;
}

.movieRating {
    display: inline;
    background: #000;
    padding: 5px 10px;
    border-radius: 8px;
}

.youtubePlayer{
    height: 50vh;
   min-width: 100%;

}



.backButton{
    display: none;
    width: 100%;
    margin-bottom: 30px;
}


.starIcon {
    color: yellow;
}
.movieSummary{
    margin: 5px 0px 15px 15px;
}

#map {
    margin-bottom: 35px;
}

.col-md-3 {
    padding-left: 30px;

}
.firstHeading{
    color: black;
    font-size: 10pt;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {

}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .movieSummary {
        font-size: 0.9rem;
    }

    .searchNearby {
        font-size: 0.9rem;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    h4 {
        margin-top: 50px;
    }
}

@media all and (max-width: 480px) {
    h4 {
        margin-top: 50px;
    }
}