body {
    background-color: #1d1b24;
    color: white;
}
nav {
    margin-top: 20px;
    margin-bottom: 20px;
}
#searchBar {
    min-width: 250px;
}
.navbar-brand {
    font-size: 2.5em;
}
.logo {
    max-width: 35px;
}
.movieRow {
    display: inline-block;
    position: relative;
    margin: 5px;
}
.darkPoster{
    background-color:#000;
    opacity:0.2;
    
}
.movieCardHide {
    visibility: hidden;

}
.movieCardInfo {
    position: absolute;
    color: white;
    width: 100%;
    top: 5px;
    left: 5px;
    z-index: -1;
}

 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
        width: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
.movie-stats img{
    margin: 10px;
}
.movie-map{
    padding-left: 0;
    
}
.map-section img{
    width: 100%;
    padding: 10px;
}
